@charset "UTF-8";
.msg_box {
	width: auto; 
	height: 75px; 
	border-style: solid; 
	border-width: 2px; 
	border-color: black; 
	background-color: #0a5f88; 
	color: white; 
	font: bold;
	padding: 5px; 
	margin: 5px;
	margin-top: 5px; 
	border-radius: 5px;
}

.houses {
	display: grid;
  	grid-template-columns: auto auto auto;			  	
  	grid-row-gap: 10px;
}

.house_box {
 	display: grid;
 	grid-template-columns: auto;
 	grid-template-rows: 40px 40px 110px 20px;
 	grid-row-gap: 2px;
	width: 300px; 			
	height: 230px; 
	border-style: solid; 
	border-width: 2px; 
	border-color: black; 			
	padding: 5px; 
	margin: 5px; 
	border-radius: 5px;		
}

.house_box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	height: 80px; 
	vertical-align: middle;
}

.house_box label {						
	font-size: 10;
	color: black;			
	font-weight: bold;
	height: 10px;
	overflow: visible;			
}

.bill_box {
	display: inline-grid;
	grid-template-rows: 40px 40px 40px 110px;
 	grid-row-gap: 2px;			
	border-style: solid; 
	border-width: 2px; 
	border-color: black; 			
	padding: 5px; 
	margin: 5px; 
	border-radius: 5px;		
	height: 250px;
	width: 340px;
}

.bill_box img {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	height: 80px; 
	vertical-align: middle;
}

.pay_refer {
	display: grid;
	grid-template-columns: auto auto auto;					  										
}

.pay_refer button {		
	font: inherit;	
	height: 23px;			
	width: 120px;
	border-radius: 5px;
	text-align: center;
	padding: 0px;
	overflow: hidden;
}

.pay_refer div {
	font: inherit;
	font-style: normal;			
}

.pay_refer .paid {
	float: right;
	font: inherit;
	color: white;			
	background-color: green;			
	height: 23px;
	width: 120px;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
	padding: 0px;
	margin-bottom: 0px;
}

.not_paid {
	font: inherit;
	height: 23px;			
	width: 120px;
	border-radius: 5px;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	background-color: red;
	color: white;
}
